body{
    background-color: #86A2A5;
    font-family: Karla, sans-serif;
    align-items: center;



    .contact-container{
        background-color: white;
        height: 500px;
        width: 500px;
        border-radius: 10px;
        margin: 50px 0px 0px 445px;


        h1{
            font-size: 25px;
        }

        .form-container{
            font-size: 16px;

            #contact-form{
                display: flex;
                flex-wrap: wrap;

                .first-input{
                    display: flex;
                    border: solid red 2px;
                    flex-direction: row;
                    width: 495px;
                    font-size: 18px;
                    height: 70px;
                    margin-bottom: 30px;

                    #first{
                        margin-left: 5px;
                        font-weight: 600;
                    }

                    #name1{
                        margin-right: 30px;
                        border-radius: 8px;
                        border: hsl(186, 15%, 59%) solid 1px;
                        padding: 10px;
                        margin-top: 10px;
                        margin-left: 5px;
                    }

                    #last-name{
                        margin-left: 50px;
                        font-weight: 600;
                    }

                    #name2{
                        padding: 10px;
                        border: hsl(186, 15%, 59%) solid 1px;
                        border-radius: 8px;
                        margin-left: 50px;
                        margin-top: 10px;
                    }
                }

                .email{
                    border: solid blue 2px;
                    height: 70px;
                    width: 500px;
                    font-weight: 600;
                    font-size: 18px;

                    #email{
                        margin-top: 10px;
                        width: 97%;
                        border: hsl(186, 15%, 59%) 1px solid; 
                        padding: 6px;
                        border-radius: 8px;
                    }
                }

                .radio-section{
                    border: solid green 2px;
                    display: flex;
                    width: 500px;
                    height: 70px;
                    margin-top: 25px;
                    flex-direction: row;
                    

                    .query-select{
                        font-size: 15px;
                    }

                    .one{
                        margin-left: 25px;
                        margin-right: 30px;
                        border: solid 1px hsl(186, 15%, 59%);
                        border-radius: 8px;
                        height: 30px;
                        width: 190px;
                        padding-top: 10px;
                        font-size: 18px;
                    }

                    .two{
                        border: solid 1px hsl(186, 15%, 59%);
                        border-radius: 8px;
                        height: 30px;
                        width: 190px;
                        font-size: 18px;
                        padding-top: 10px;
                    }

                    #choice1{
                        margin-left: 10px;
                    }

                    #choice2{
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    .attribution{
        text-align: center;
        margin-top: 30px;
    }
}